/* fix for legacy style isses. makes it bootstrap */
#content .cbioportal-frontend {
  h4 {
    color: $text-color;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
  }
}

  /* Buttons */
.cbioportal-frontend {

  .cta { // "Call To Action"
    background: rgb(17, 116, 167);
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 2px;
    color: rgba(255, 255, 255, 0.90);
    display: block;
    text-align: center;
    font: normal normal 500 11px/19px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 5px 10px;
    box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.1);

    &:hover {
      cursor: pointer;
      background: #1f688e;
      color: #fff;
    }
  }
  
}

/* Tables */
th.reactable-header-sortable {

  &:focus {outline:0;}

}

th.reactable-header-sort-desc:after {
  content: '\25B2';
  padding-left: 10px;
  padding-bottom: 5px;
}

th.reactable-header-sort-asc:after {
  content: '\25BC';
  padding-left: 10px;
  padding-bottom: 5px;
}

.table-border-top .reactable-column-header {

  th {
    border-top:1px dashed #ddd !important;
  }

}

#content {
  margin-top:8px;
}

/* override for rc-tooltip */

.rc-tooltip {
  opacity:1 !important;
}

.mainTabs > .tab-content {
  padding-top:20px;
}
